
<h1 class="text-center">Dashboard</h1>



<p>You are logged in</p>





{{#if user.articles}}
<p>Testing</p>
{{/if}}






{{!-- 
{{#each articles as |article| }}
<div class="card">
    <div class="d-flex justify-content-between card-header">
        <div>
            {{ format_date article.createdAt}}
        </div>
        <div> Posted by {{user.username}}</div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.content}}</p>
        <a href="/article/{{article.id}}" class="btn btn-primary">Read More</a>
    </div>
</div>
{{/each}} --}}

